<% if @search_stores %>
  <%= render partial: 'store_display',collection: @search_stores, as: "store" %>
<% else %>
  <div class="card-header bg-dismissible ">
    店舗一覧
  </div>
  <%= render partial: 'store_display',collection: @stores, as: "store" %>
<% end %>
