<div>
  <div class="card-header bg-white text-warning">
    <p><%= @nickname %>さんの投稿一覧</p>
  </div>
  <% @logs.each do |log|%>
      <%= render partial: 'logs/log', locals: { log: log } %>
  <% end %>
    <%= paginate(@logs)%>
</div>

