.top-content{
  width:100vw;
  height:384px;
  .himawari{
    background: image-url('himawari.jpg');
    width:100vw;
    height:384px;
    margin:0 auto;
  }
  .margalet{
    background: image-url('margalet.jpg');
    width:100vw;
    height:384px;
    margin:0 auto;
  }
}
.right-btn{
  float:right;
}
.square{
  width:97px;
  height:97px;
}
.right-float{
  float:right;
}

.cupon_boxes{
  width:300px;
  position:absolute;
  left:1050px;
}