.top-content{
  margin:20px 50px;
  width:90vw;
  height:384px;
  .himawari{
    background: image-url('himawari.jpg');
    width:90vw;
    height:384px;
    margin:0 auto;
  }
}
.right-btn{
  float:right;
}
.square{
  width:97px;
  height:97px;
}
.right-float{
  float:right;
}