.himawari_message{
  position: relative;
  p{
  color:white;
  font-size:50px;
  font-weight: bold;
  -webkit-text-stroke: 1px grey;
  text-align: center;
  font-family: "Comic Sans MS";
  line-height:100px;
  position: absolute;
  bottom:100px;
  left:250px;
  }
}
.margalet_message{
  color:white;
  font-size:50px;
  font-weight: bold;
  text-align: center;
  font-family: "Comic Sans MS";
  line-height:100px;
}