.carousel_message{
  h2{
    font-size:35px;
    font-weight: bold;
    -webkit-text-stroke: 1px lightgrey;
  }
  p{
    font-size:20px;
    font-weight: bold;
    -webkit-text-stroke: 1px lightgrey;
  }
}