

<div id="carouselFadeExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item himawari_message active">
      <%= image_tag 'shirotsumekusa.jpg',height:350,class:'d-block w-100',alt:"First slide"%>        
      <p>改善案の投稿で応援をできる口コミサイト</p>
    </div>
    <div class="carousel-item himawari_message">
      <%= image_tag 'margalet.jpg',height:350,class:'d-block w-100',alt:"Second slide"%>        
      <p>改善案の投稿で応援をできる口コミサイト</p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselFadeExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselFadeExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>