<div>
  <div>
    <%= render 'top-content' %>
  </div>
  <div>
    <div class = "cupon_boxes d-flex flex-wrap">  
      <h3 class= "badge badge-light mt-3">最近公開されたクーポン</h3>
      <%= render partial: 'cupons/cupon',collection: @cupons%>
    </div>
    <%= render @logs %>
  <%= paginate(@logs)%>
  </div>
</div>