
<% @logs.each do |log|%>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">
        <%= log.title %>
      </h5>
      <p class="card-text">
        <%= log.chance%>
      </p>
      <a href="#" class="btn btn-primary">Button</a>
    </div>
  </div>
<% end %>