<div>
  <div>
    <%= render 'top-content' %>
  </div>
  <div>
    <div class = "right-float mr-4 col-md-3 d-none d-lg-block">
      <h3 class= "badge badge-light mt-3">最近公開されたクーポン</h3>
      <%= render partial: 'cupons/cupon',collection: @cupons%>
    </div>
    <%= render @logs %>
  <%= paginate(@logs)%>
  </div>
</div>