<section id="footer">
  <div class="card-footer mt-5 pl-5">
    <ul class="list-unstyled quick-links text-info">
      <li><a class= "text-info"  href="/">Home</a></li>
      <li><a class= "text-info" href="https://qiita.com/k1taka">Qiita個人ページ</a></li>
      <li><a class= "text-info"  href="https://qiita.com/k1taka/items/80f44a383ca08818a6db">本アプリケーションの説明</a></li>
      <li><a class= "text-info"  href="https://twitter.com/home">Twitter</a></li>
      <li><a class= "text-info"  href="https://github.com/k1taka/posilog">githubソースコード</a></li>
  </div>
</section>